export COMPARE_FROM_DB_HOST=127.0.0.1
export COMPARE_FROM_DB_PORT=3306
export COMPARE_FROM_DB_USER=root
export COMPARE_FROM_DB_PASSWORD=root
export COMPARE_FROM_DB_NAME=mydb

export COMPARE_TO_DB_HOST=127.0.0.1
export COMPARE_TO_DB_PORT=3307
export COMPARE_TO_DB_USER=root
export COMPARE_TO_DB_PASSWORD=root
export COMPARE_TO_DB_NAME=mydb